h2 {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 16px
}

p {
  font-family: 'karla', sans-serif;
}

.body {
  margin-top: 0px;
}

.container {
  max-width: 960px;
}

.nav {
  margin-top; 0px;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: black;
}

.paddles {
  position: relative;
  width: 20%;
  padding-left: 15px;
  float: left;
}

.navbar {
  font-family: 'karla', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
  top: 0px;
  left: 200px;
  padding-right: 10px;
  margin: 20px;
}

.containerbanner {
  margin: auto;
  text-align: center;
  padding: 20px;

  background-image: url("images/kayak-bkgd.jpg");
}

.containerabout {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 16px
}

.containerrentals {
  clear: both;
  float: left;
  left: 40%;
  padding: 20px;
}

.rentaltable {
  clear: both;
  float: right;
  right: 60%;
}

.footer {
  background-color: #242424;
  color: #FFFFFF;
  height: 250px;
  padding: 30px;
  margin-top: 50px;
}

.banner__span--enjoy {
  text-transform: uppercase;
  font-size: 20px;
}

.banner__span {
  display: inline-block;
}

.banner__title-enjoy {
  font-family: 'karla', sans-serif;
  font-size: 12px
}

.banner__title-goutdoors {
  font-family: 'Pacifico', cursive;
  font-size: 40px
}

.banner__title-fromthewater {
  font-family: 'Pacifico', cursive;
  font-size: 16px
}

.rentals-description {
  text-align: left;
}

.aboutimg {
  width: 20%;
  box-shadow: 3px 3px 0px #dadada;
}

.btn-signup {
  background-color: #E2574C;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 12px 28px;
  text-align: center;
  font-size: 14px;
  font-family: 'karla' sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  margin: 50px auto;
  display: block;
  cursor: pointer;
}

article {
  font-family: 'karla', sans-serif;
}

/* styles are applied to ipad and desktop width because both hold true for 1200px*/


/* tablet */
@media {min-width: 600px} {
    img {
      max-width: 40%;
    }
  }

/* desktop */
@media {min-width: 1100px} {
    img {
      max-width: 30%;
    }
  }
